.ui-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: all 0.15s ease-out;
    font-family: $font-heading;
    line-height: 1.2;
    border-radius: $ui-border-radius;

    &:active, &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &--default {
        font-size: 1.5rem;
        padding: 1.2rem 2.4rem;
        background: $btn-default-bg;
        color: $btn-default-color;

        &:hover {
            background: darken($btn-default-bg, 4%);
            color: $btn-default-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-default-color;
        }
    }

    &--primary {
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 1.4rem 2rem;
        background: $btn-primary-bg;
        color: $btn-primary-color;

        &:hover {
            background: darken($btn-primary-bg, 3%);
            color: $btn-primary-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-primary-color;
        }
    }

    &--secondary {
        font-size: 1.5rem;
        padding: 1.0rem 1.8rem;
        background: none;
        color: $btn-secondary-color;
        border: 1px solid $btn-secondary-color;

        &:active, &:visited, &:focus {
            color: $btn-secondary-color;
        }

        &:hover {
            background: $btn-secondary-color;
            color: darken(white, 5%);
        }
    }

    &--uppercase {
        text-transform: uppercase;
        font-size: 75%;
    }

    &--icon {
        display: flex;
        align-items: center;

        i {
            font-size: 2rem;
            margin-right: 0.8rem;
        }
    }

    &--banner {
        text-transform: none;
        font-size: 1.5rem;
        padding: 1.0rem 1.5rem;
    }

    &--radio {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;

        &:checked + label {
            background: darken($btn-default-bg, 40%);
            color: darken(white, 3%);
            border-right: 1px solid darken($btn-default-bg, 40%) !important;
        }
    }

    &--loader {
        position: relative;
    }
}

.ui-button-group {
    display: flex;
    flex-wrap: wrap;

    .ui-button:not(:last-of-type), .select2:not(:last-of-type) .select2-selection {
        border-right: 1px solid darken($btn-default-bg, 4%);
    }

    .ui-button:first-of-type:not(:last-of-type), .select2:first-of-type:not(:last-of-type) .select2-selection {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .ui-button:last-of-type:not(:first-of-type), .select2:last-of-type:not(:first-of-type) .select2-selection {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .ui-button:not(:first-of-type):not(:last-of-type), .select2:not(:first-of-type):not(:last-of-type) .select2-selection {
      border-radius: 0;
    }

    .select2-container--default .select2-selection--single:not(:last-of-type) {
        border-right: 1px solid darken($btn-default-bg, 4%);
    }
}
