.cards {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -15px;
        position: relative;

        @media (min-width: $screen-lg) {
            margin: -20px;
        }
    }

    &__item {
        width: 100%;
        margin: 15px;
        border-radius: $ui-border-radius;
        background: white;
        overflow: hidden;
        transition: opacity 250ms ease-in;
        @include card-shadow-with-hover();

        @media (min-width: $screen-xs) {
            width: calc(50% - 30px);
        }

        @media (min-width: $screen-md) {
            width: calc(33.3333% - 30px);
        }

        @media (min-width: $screen-lg) {
            margin: 20px;
            width: calc(33.3333% - 40px);
        }
    }

    &__top {
        background-size: cover;
        background-position: center;
        background-color: $color-placeholder-bg;
        height: 22rem;
        position: relative;
    }

    &__accent {
        position: absolute;
        top: 0;
        left: 0;
        background: $color-primary;
        padding: 1rem 1.8rem;
        color: darken(white, 5%);
        font-size: 1.7rem;
        border-radius: $ui-border-radius 0 $ui-border-radius 0;
    }

    &__image-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.2rem 1.8rem;
        background-color: rgba(0,0,0,0.4);
        color: darken(white, 5%);
        font-size: 1.4rem;
    }

    &__bottom {
        padding: 2rem;
    }

    &__attributes {
        margin: -1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__attribute {
        margin: 0.8rem 1.2rem;
        font-size: 1.4rem;
        color: lighten($color-base, 20%);
        display: flex;
        align-items: center;

        i {
            margin-right: 0.8rem;
            font-size: 2.2rem;
        }
    }

    &__button {
        font-size: 1.4rem;
        padding: 0.8rem 1.2rem;
        margin: 0.8rem 1.2rem;
    }

    &__link {
        color: $color-primary;
        font-size: 1.4rem;
        margin: 0.8rem 1.2rem;
        display: flex;
        align-items: center;

        i {
            font-size: 1.8rem;
            margin-right: 0.5rem;
        }
    }
}
