$datepicker-header-height: 45px;

.ui-datepicker {
    width: 250px;
    height: auto;
    margin: 0 auto;
    font-size: 13px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
    border-radius: $ui-border-radius;
    overflow: hidden;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
}

.ui-datepicker-header {
    background-color: lighten(black, 40%);
    color: #e0e0e0;
    text-shadow: 1px -1px 0px #000;
    line-height: $datepicker-header-height;
    min-height: $datepicker-header-height !important;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-title select {
    margin-top: 2.5%;
    color: lighten(black, 30%);
    border-radius: $ui-border-radius;
    border: none;
    background: darken(white, 5%);

    &:focus {
        outline: none;
    }

    &:first-child {
        margin-right: 5px;
    }
}

.ui-datepicker-prev, 
.ui-datepicker-next {
    display: inline-block;
    width: $datepicker-header-height;
    height: $datepicker-header-height;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    font-size: 0;

    &:after {
        content: '';
        display: inline-block;
        margin-bottom: -3px;
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid darken(white, 20%);
    }

    &:hover :after {
        border-color: darken(white, 15%);
    }
}

.ui-datepicker-prev {
    float: left;

    &:after {
        transform: rotate(90deg);
    }
}

.ui-datepicker-next {
    float: right;

    &:after {
        transform: rotate(-90deg);
    }
}

.ui-datepicker thead {
    background: darken(white, 2%);
}

.ui-datepicker th {
    text-transform: uppercase;
    text-align: center;
    font-size: 7pt;
    padding: 5px 0;
    color: lighten(black, 45%);
}

.ui-datepicker tbody td {
    padding: 0;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: lighten(black, 40%);
}

.ui-datepicker-calendar .ui-state-default {
    background: darken(white, 8%);
}

.ui-datepicker-calendar .ui-state-hover {
    background: darken(white, 3%);
}

.ui-datepicker-calendar .ui-state-active {
    background: darken(white, 60%);
    color: darken(white, 4%);
    position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: #d7d7d7;
}

table.ui-datepicker-calendar {
    margin: 0 0 0 0 !important;
}

body div#ui-datepicker-div[style] {
    z-index: 9999 !important;
}
