input, textarea {
    background: none;
    padding: 1.2rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid darken(white, 25%);
    transition: all 0.15s ease-out;
    border-radius: 0;

    &::placeholder {
        color: lighten($color-base, 20%);
    }

    &:focus {
        outline: none;
        border-color: darken(white, 40%);
    }
}

textarea {
    max-height: 12rem;
}

.validation_error {
    display: none;
}

.gform_fields {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gfield {
        margin: 2rem 0;
        padding: 0;
        font-size: inherit;

        @media (min-width: $screen-xs) {
            width: 47%;
        }

        @media (min-width: $screen-md) {
            margin: 1.5rem 0;
        }

        &.gfield_full_width {
            width: 100%;
        }

        &.gfield_show_label {
            label {
                display: block;
            }
        }

        &.gfield_error {
            input, textarea {
                border-color: $color-primary;
            }
        }

        .gfield_description {
            font-size: 1.4rem;
            margin-top: 1.5rem;
        }

        .validation_message {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            color: $color-primary;
        }
    }

    .gfield_label {
        display: none;
        margin-bottom: 1rem;
    }

    .ginput_container_fileupload {
        .gform_drop_area { 
            padding: 4rem;
            border: 1px dashed darken(white, 20%);
            text-align: center;
            color: darken(white, 40%);
            background: darken(white, 5%);
            border-radius: $ui-border-radius;
            display: flex;
            justify-content: center;
            align-items: center;

            .gform_drop_instructions {
                margin-right: 1.5rem;
            }

            .gform_button_select_files {
                font-size: 1.5rem;
                padding: 1.0rem 2.0rem;
                background: $btn-tertiary-bg;
                color: $btn-tertiary-color;
                width: auto;
                border: none;
                border-radius: $ui-border-radius;

                &:hover {
                    background: darken($btn-tertiary-bg, 5%);
                    color: $btn-tertiary-color;
                }

                &:active, &:visited, &:focus {
                    color: $btn-tertiary-color;
                }
            }
        }

        .screen-reader-text {
            display: none;
        }
    }

    .ginput_preview {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .gform_delete {
            cursor: pointer;
            margin-right: 0.8rem;
        }

        strong {
            font-weight: 400;
        }  
    }
}

.gform_footer {
    margin-top: 3rem;
    display: flex;
    align-items: center;

    @media (min-width: $screen-xs) {
        margin-top: 2rem;
    }

    .gform_ajax_spinner {
        height: 3.2rem;
        width: 3.2rem;
        margin-left: 1.5rem;
    }
}
