.login {
    position: fixed;
    top: $header-height;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &__form {
        background: white;
        border-radius: $ui-border-radius;
        padding: 4rem;
        max-width: 35rem;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);

        &#send-password-reset-link-form {
            display: none;
        }

        fieldset {
            margin: 2rem 0;
            padding: 0;
            border: none;
        }

        label {
            display: none;
        }

        input {
            &.error {
                border-color: $color-primary;
            }
        }

        &__submit {
            width: 100%;
            margin-top: 2rem;

            &.loading {
                cursor: wait !important;
            }
        }

        .error-message {
            font-size: 1.5rem;
            color: $color-primary;
            margin-top: 1.0rem;
        }
    }

    &__description {
        color: lighten($color-base, 5%);
        font-size: 1.5rem;
    }

    &__feedback {
        display: none;
        font-size: 1.5rem;
        padding: 2rem 2.5rem;
        border: 1px solid darken(white, 15%);
        border-radius: $ui-border-radius;
        margin-top: 3rem;
        background: darken(white, 3%);

        a {
            color: $color-primary;
        }
    }

    &__footer-link {
        text-align: center;
        display: block;
        margin-top: 3rem;
        font-size: 1.5rem;
        color: lighten($color-base, 15%);
    }
}
