.select2-container--default {
    width: auto !important;

    .select2-selection--single {
        border: none;
        border-radius: $ui-border-radius;
        padding: 1.2rem 2.4rem;
        font-size: 1.6rem;
        background: $btn-default-bg;
        color: lighten($color-base, 10%);
        height: auto;
        transition: 0.15s ease-out;

        &:focus, &:active {
            outline: none;
        }

        &:hover {
            background: darken($btn-default-bg, 4%); 
        }

        .select2-selection__arrow {
            top: 10px;
            right: 12px;

            b {
                display: none;
            }

            &:after {
                content: '';
                display: inline-block;
                margin: 0 0 2px 0px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid lighten($color-base, 30%);
            }
        }

        .select2-selection__rendered {
            color: inherit;
            padding-left: 0;
            padding-right: 20px;
            font-size: 1.5rem;
            line-height: 1.4;
        }

        .select2-selection__placeholder {
            color: lighten($color-base, 20%);
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow:after {
                transform: rotate(180deg);
            }
        }
    }

    .select2-results__group {
        padding: 10px 15px;
        opacity: 0.7;
    }

    .select2-results > .select2-results__options {
        max-height: 35rem;
    }

    .select2-results__option--highlighted[aria-selected] {
        background: $color-primary;
        color: darken(white, 3%);
    }
}

.select2-results {
    padding: 10px 0;
    background: darken(white, 2%);
    border-radius: 0 $ui-border-radius $ui-border-radius $ui-border-radius;
}

.select2-dropdown {
    border-color: darken(white, 10%);
    border-radius: $ui-border-radius;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    min-width: 24rem;

    .select2-search--dropdown {
        padding: 0;
    }

    .select2-search__field {
        border: none !important;
        border-bottom: 1px solid darken(white, 10%) !important;
        padding: 10px 15px;

        &:focus, &:active {
            outline: none;
        }
    }

    .select2-results__option {
        font-size: 1.6rem;
        padding: 10px 20px;
        margin: 0;
    }

    .select2-results__options--nested {
        li {
            padding-left: 25px !important;
        }
    }
}

.select2-container--open .select2-dropdown {
    top: 1px;
}
