.slick-slider {
    .slick-arrow {
        position: absolute;
        top: 41%;
        z-index: 100;
        font-size: 0;
        width: 5rem;
        height: 5rem;
        background: rgba(white, 0.8);
        border-radius: 50%;
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        opacity: 0.7;
        transition: 0.15s ease-out;

        &:active, &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }

        &:after {
            content: '';
            display: inline-block;
            border-right: 2px solid;
            border-bottom: 2px solid;
            width: 15px;
            height: 15px;
            border-color: darken(white, 45%);
            transform: rotate(-45deg);
        }
    }

    .slick-slide {
        &:focus {
            outline: none;
        }
    }

    .slick-prev {
        left: 2rem;

        &:after {
            transform: rotate(135deg);
            margin-left: 5px;
        }
    }

    .slick-next {
        right: 2rem;

        &:after {
            transform: rotate(-45deg);
            margin-right: 5px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 1rem 0 0 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            &.slick-active button:after {
                background: $color-primary;
            }
        }

        button {
            font-size: 0;
            border: none;
            margin: 0 4px;
            background: none;
            padding: 10px 0;

            &:after {
                content: '';
                display: inline-block;
                background: darken(white, 20%);
                width: 35px;
                height: 3px;
                border-radius: $ui-border-radius / 2;
            }

            &:active, &:focus {
                outline: none;
            }
        }
    }
}
