html {
    font-size: 8.5px;
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      font-size: 9px;
    }

    @media (min-width: $screen-lg) {
      font-size: 10px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-base;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: $color-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: $font-heading;
    line-height: 1.2;
    font-weight: 400;

    strong {
        font-weight: 700;
    }
}

h1 {
    font-size: 3.2rem;
    margin: 0 0 2.5rem 0;
}

h2 {
    font-size: 2.8rem;
    margin: 0 0 2rem 0;
}

h3 {
    font-size: 2.0rem;
    margin: 0 0 2rem 0;
}

p, li {
    font-size: 1.5rem;
}

p {
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

li {
    margin: 0.8rem 0;
    padding-left: 0.5rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:visited, &:active, &:focus {
        text-decoration: none;
        outline: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}
