// fonts
$font-base: 'Lato', sans-serif;
$font-heading: 'Lato', sans-serif;

// colors
$color-primary: #E62623;
$color-primary-darker: #C51E27;
$color-base: lighten(black, 40%);
$color-section-bg-grey: darken(white, 3%);
$color-placeholder-bg: darken(white, 20%);

// layout
$ui-border-radius: 2px;
$header-height: 7rem;
$header-height-mobile: 6.5rem;
$page-nav-height: 5.0rem;

// screen sizes
$screen-us: 375px;
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1380px;
$screen-xxl: 1600px;

// buttons
$btn-default-bg: darken(white, 10%);
$btn-default-color: lighten($color-base, 10%);

$btn-primary-bg: $color-primary;
$btn-primary-color: darken(white, 5%);

$btn-secondary-bg: none;
$btn-secondary-color: $color-primary;

$btn-tertiary-bg: lighten(black, 50%);
$btn-tertiary-color: darken(white, 3%);
