.contact-us {
    &__contact-info {
        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;

            > div {
                width: 47%;
            }
        }
    }

    &__map {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        margin-top: 6rem;

        @media (min-width: $screen-sm) {
            padding-bottom: 60%;
        }

        @media (min-width: $screen-md) {
            margin-top: 0;
            padding-bottom: 40%;
            order: -1;
            height: 42rem;
        }

        @media (min-width: $screen-lg) {
            padding-bottom: 35%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    &__agents {
        margin-top: 6rem;

        &__list {
            margin: -2rem;
            padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;

            @media (min-width: $screen-lg) {
                margin: -3rem;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            margin: 2rem;

            @media (min-width: $screen-lg) {
                margin: 3rem;
            }

            a {
                display: block;
                color: lighten($color-base, 10%);
                font-size: 1.5rem;

                &:hover {
                    color: lighten($color-base, 0%);
                }
            }
        }

        &__headshot {
            width: 12rem;
            height: 12rem;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-right: 2.5rem;
        }

        &__name {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
    }
}
