.floor-plan {
    &__header {
        background-color: $color-placeholder-bg;

        &__content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.4);
            padding: 2rem 0;

            > .container {
                @media (min-width: $screen-sm) {
                    display: flex;
                }
            }
        }

        &__title {
            font-size: 2.8rem;
            color: darken(white, 3%);

            @media (min-width: $screen-sm) {
                margin: 0 5rem 0 0;
            }

            @media (min-width: $screen-lg) {
                margin-right: 6rem;
            }
        }

        &__attributes {
            display: flex;
            flex-wrap: wrap;
            margin: -0.8rem -1.2rem;

            .cards__attribute {
                color: darken(white, 5%);
                font-size: 1.6rem;

                i {
                    font-size: 2.2rem;
                }
            }
        }
    }

    &__floor-plans {
        margin: -1rem 0;

        @media (min-width: $screen-sm) {
            display: flex;
            justify-content: center;
            margin: -1rem;
        }

        &__container {
            margin-bottom: 6rem;
        }

        a {
            margin: 1rem 0;
            display: block;

            @media (min-width: $screen-sm) {
                margin: 1rem;
                max-width: 60rem;
                flex: 1;
            }
        }

        &__attributes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -0.8rem -1.2rem;
            padding-top: 1.5rem;

            .cards__attribute {
                font-size: 1.6rem;

                i {
                    font-size: 2.2rem;
                }
            }
        }
    }

    &__slider {
        &__container {
            margin-bottom: 8rem;
        }

        .slick-list {
            position: relative;

            &:before, &:after {
                content: '';
                top: 0;
                width: 3rem;
                height: 100%;
                position: absolute;
                z-index: 100;
            }

            &:before {
                left: 0;
                background: linear-gradient(to left, rgba($color-section-bg-grey,0) 30%,rgba($color-section-bg-grey,0.8) 100%);
            }

            &:after {
                right: 0;
                background: linear-gradient(to right, rgba($color-section-bg-grey,0) 30%,rgba($color-section-bg-grey,0.8) 100%);
            }
        }

        .slick-slide {
            margin: 0 0.3rem;

            img {
                width: auto !important;
                height: 40rem;

                @media (min-width: $screen-sm) {
                    height: 50rem;                
                }

                @media (min-width: $screen-xxl) {
                    height: 55rem;       
                }
            }
        }

        .slick-prev {
            @media (min-width: $screen-xl) {
                left: -8rem;
            }
        }

        .slick-next {
            @media (min-width: $screen-xl) {
                right: -8rem;
            }
        }
    }

    &__extras {
        @media (min-width: $screen-sm) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__flyer {
        &__preview {
            width: 20rem;
            height: 24rem;
            background-size: cover;
            background-position: center;
            background-color: $color-placeholder-bg;
            display: block;
            border-radius: $ui-border-radius;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @include card-shadow-with-hover();
        }

        &__icon-download {
            position: absolute;
            top: 0;
            right: 0;
            background: $color-primary;
            padding: 0.7rem;
            color: darken(white, 5%);
            border-bottom-left-radius: $ui-border-radius;
            font-size: 2.5rem;
        }

        &__icon-pdf {
            font-size: 8rem;
            color: darken(white, 40%);
        }
    }

    &__availability {
        margin-top: 6rem;

        @media (min-width: $screen-sm) {
            margin: 0;
            width: 68%;
        }

        @media (min-width: $screen-md) {
            width: 74%;
        }

        &__list {
            overflow-x: scroll;
            display: flex;
        }

        &__item {
            width: 24rem;
            max-width: 26rem;
            flex: 1 0 auto;
            margin: 0 1rem 1rem 0;
            border-radius: $ui-border-radius;
            background: white;
            overflow: hidden;
            @include card-shadow-with-hover();
        }

        &__top {
            height: 18rem;
            background-size: cover;
            background-position: center;
            background-color: $color-placeholder-bg;
        }

        &__bottom {
            padding: 1.5rem 1.8rem;
            color: lighten($color-base, 5%);
        }
    }
}
