.gallery {
    &__filter {
        @media (max-width: $screen-sm) {
            border: none;
        }

        .ui-button {
            @media (max-width: $screen-sm) {
                margin: 0.5rem;
                border-radius: $ui-border-radius !important;    
                border: none !important;
            }
        }
    }

    &__list {
        > .entry-visible {
            > img, > a > img {
                transition: opacity 250ms ease-in;
            }
        }

        > .spinner {
            display: none;
        }
    }
}
