.home {
    &__slider {
        @media (min-width: $screen-lg) {
            position: static;    
        }

        &__container {
            position: relative;

            @media (min-width: $screen-lg) {
                height: 85vh;
                overflow: hidden;
            }

            .page-header__banner {
                @media (max-width: $screen-xs) {
                    padding: 2rem 1.5rem;
                    position: static;
                    background: $color-primary-darker;
                }

                &__heading {
                    @media (max-width: $screen-xs) {
                        text-align: center;
                        width: 100%;
                        margin: 0 0 1rem 0;
                    }
                }
            }
        }

        .slick-track {
            @media (min-width: $screen-xxl) {
                top: -50px;
            }
        }

        .slick-arrow {
            @media (min-width: $screen-lg) {
                top: 44%;
            }
        }
        
        .slick-dots {
            position: absolute;
            bottom: 1rem;
            width: 100%;

            @media (min-width: $screen-xs) {
                bottom: 7rem;
            }

            @media (min-width: $screen-lg) {
                bottom: 8rem;
            }
        }
    }

    &__links {
        &__list {
            margin: -4rem 0;

            @media (min-width: $screen-sm) {
                display: flex;
                margin: -1%;
            }

            @media (min-width: $screen-lg) {
                margin: -2%;
            }
        }

        &__item {
            margin: 4rem 0;

            @media (min-width: $screen-sm) {
                width: 32%;
                margin: 1%;
            }

            @media (min-width: $screen-lg) {
                margin: 2%;
            }
        }

        &__link {
            width: 80%;
            margin: 2.5rem auto 0;
            display: block;

            @media (min-width: $screen-lg) {
                margin-top: 3rem;
            }
        }

        &__locations {
            &__image {
                display: block;
                height: 30rem;
                background-size: cover;
                background-position: center;
                border-radius: $ui-border-radius;
                @include card-shadow-with-hover();

                @media (min-width: $screen-xs) {
                    height: 35rem;
                }

                @media (min-width: $screen-sm) {
                    height: 30rem;
                }

                @media (min-width: $screen-md) {
                    height: 35rem;
                }
            }
        }

        &__quick_move_ins {
            .cards__item {
                margin: 0;
                width: 100%;
            }

            .cards__top {
                @media (min-width: $screen-xs) {
                    height: 28rem;
                }

                @media (min-width: $screen-sm) {
                    height: 15.5rem;
                }

                @media (min-width: $screen-md) {
                    height: 24.2rem;
                }
            }
        }

        &__gallery {
            &__images {
                height: 30rem;
                display: flex;
                flex-wrap: wrap;
                border-radius: $ui-border-radius;
                overflow: hidden;
                @include card-shadow-with-hover();

                @media (min-width: $screen-xs) {
                    height: 35rem;
                }

                @media (min-width: $screen-sm) {
                    height: 30rem;
                }

                @media (min-width: $screen-md) {
                    height: 35rem;
                }

                > div {
                    width: 50%;
                    height: 50%;
                    border: 1px solid $color-section-bg-grey;
                    background-size: cover;
                    background-position: center;

                    &:nth-child(1) {
                        border-top: none;
                        border-left: none;
                    }

                    &:nth-child(2) {
                        border-top: none;
                        border-right: none;
                    }

                    &:nth-child(3) {
                        border-bottom: none;
                        border-left: none;
                    }

                    &:nth-child(4) {
                        border-bottom: none;
                        border-right: none;
                    }
                }
            }
        }
    }
}
