.map {
    &__infowindow {
        font-family: $font-base;
        font-size: 1.6rem;
        padding: 0.5rem 0.5rem 0.3rem 0.5rem;

        &__name {
            font-size: 1.5rem;
        }

        &__title {
            font-weight: 700;
        }

        &__address {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            color: lighten($color-base, 15%);
            line-height: 1.3;
            font-size: 1.4rem;

            &:hover {
                color: lighten($color-base, 8%);
            }

            i {
                font-size: 2.8rem;
                margin-right: 1rem;
            }
        }

        &__buttons {
            margin-top: 2.5rem;

            a:first-child {
                margin-right: 1.5rem;
            }
        }
    }

    .gm-style-iw {
        font-weight: 400;
    }
}

#locations-map {
    height: 40rem;

    @media (min-width: $screen-sm) {
        height: 50rem;
    }

    @media (min-width: $screen-lg) {
        height: 65vh;
    }
}

.locations {
    &__banner {
        background: $color-primary-darker;
        padding: 2rem 1.5rem;
        text-align: center;
        color: darken(white, 8%);
        text-transform: uppercase;
    }

    &__list {
        padding: 1rem 0;

        @media (min-width: $screen-xs) {
            padding: 4rem 0;
        }

        &__sections-container {
            @media (min-width: $screen-xs) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 -2rem;
            }

            @media (min-width: $screen-lg) {
                margin: 0 -3rem;
            }
        }

        &__section {
            width: 22rem;
            margin: 8rem 0;

            @media (min-width: $screen-xs) {
                margin: 4rem 2rem;
            }

            @media (min-width: $screen-lg) {
                margin: 4rem 4rem;
            }
        }

        &__heading {
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        &__heading-border {
            border-bottom: 2px solid lighten($color-base, 25%);
            margin: 2.5rem 0;
        }

        &__cities {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0;
            }

            a {
                padding: 0.5rem 0;
                display: block;
                color: lighten($color-base, 10%);

                &:hover {
                    color: lighten($color-base, 0%);
                }
            }
        }
    }
}

.location {
    &__header {
        background-color: $color-placeholder-bg;
        height: 35rem;

        @media (min-width: $screen-md) {
            height: 45vh;
        }

        @media (min-width: $screen-lg) {
            height: 55vh;
        }

        &__content {
            margin-top: 3rem;
            color: darken(white, 5%);
            text-align: center;
        }

        &__address {
            font-size: 1.7rem;
            color: darken(white, 10%);
        }
    }

    &__info {
        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__description {
        margin-top: 5rem;

        @media (min-width: $screen-md) {
            width: 60%;
            margin-top: 0;
            margin-right: 6rem;
        }
    }

    &__downloads {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: $screen-md) {
            order: 1;
        }

        a {
            margin: 1rem;
        }
    }

    &__floor-plans {
        margin-top: 6rem;

        &__list {
            overflow-x: scroll;
            display: flex;
        }

        &__item {
            width: 24rem;
            max-width: 26rem;
            flex: 1 0 auto;
            margin: 0 1rem 1rem 0;
            border-radius: $ui-border-radius;
            background: white;
            overflow: hidden;
            @include card-shadow-with-hover();
        }

        &__top {
            height: 18rem;
            background-size: cover;
            background-position: center;
            background-color: $color-placeholder-bg;
        }

        &__bottom {
            padding: 1.5rem 1.8rem;
            color: lighten($color-base, 5%);
        }
    }
}
