.quick-move-ins {
    &__filter {
        &__clear {
            display: none;
            margin-left: 2rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
