.warranty-request {
    margin-top: -1rem;

    @media (min-width: $screen-md) {
        display: flex;
        justify-content: space-between;

        > div {
            width: 45%;
        }
    }

    &__section {
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__downloads {
        margin: -1rem;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
            margin: 1rem;
        }
    }

    &__form {
        margin-top: 6rem;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }
}
