.why-patterson {
    &__what-to-expect {
        text-align: left;
        padding: 4rem 0 1rem 0;
        margin: -2rem;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $screen-md) {
            flex-wrap: nowrap;
            justify-content: center;
        }

        @media (min-width: $screen-lg) {
            margin: -3rem;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem;

            @media (min-width: $screen-lg) {
                margin: 3rem;
            }
        }

        &__icon {
            background: darken(white, 15%);
            color: darken(white, 30%);
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2.5rem;

            i {
                font-size: 4rem;    
            }
        }

        &__heading {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0;
                color: lighten($color-base, 10%);

                &:before {
                    content: '-';
                    margin-right: 0.8rem;
                }
            }
        }
    }
}
