.footer {
    background: $color-primary-darker;
    padding: 8rem 0;

    @media (min-width: $screen-md) {
        padding: 10rem 0;
    }

    @media (min-width: $screen-lg) {
        padding: 12rem 0;
    }

    > .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $screen-sm) {
            flex-direction: row;
            justify-content: center;
        }
    }

    a, i {
        color: darken($color-primary-darker, 16%);
    }

    a {
        transition: 0.15s ease-out;

        &:hover {
            color: darken($color-primary-darker, 21%);
        }
    }

    &__legal {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-sm) {
            align-items: flex-start;
        }

        img {
            margin-bottom: 3rem;
        }

        p {
            margin: 0;
            font-size: 1.4rem;
            color: darken($color-primary-darker, 15%);
        }
    }

    &__contact-links {
        margin: 6rem 0;
        font-size: 1.5rem;

        @media (min-width: $screen-sm) {
            margin: 0 6rem;
        }

        @media (min-width: $screen-md) {
            margin: 0 12rem;
        }

        @media (min-width: $screen-lg) {
            margin: 0 16rem;
        }

        > a, > div {
            display: flex;
            align-items: center;
            padding: 0.8rem 2rem;

            i {
                margin-right: 1.5rem;
                font-size: 3rem;
            }
        }
    }

    &__numbers {
        a {
            display: block;
        }
    }

    &__social-media-links {
        display: flex;
        justify-content: center;

        > a {
            background: darken($color-primary-darker, 15%);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.7rem;

            &:hover {
                background: darken($color-primary-darker, 20%);
            }
        }
    }
}

.contact-sticky {
    position: fixed; 
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
    width: 5.5rem;
    height: 5.5rem;
    background: darken($color-primary, 6%);
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16);
    transition: box-shadow 80ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.24);
    }

    i {
        color: darken(white, 5%); 
        font-size: 2.8rem;
    }
}
