.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    max-height: $header-height-mobile;
    overflow: hidden;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    transition: 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: $screen-md) {
        height: $header-height;
        max-height: none;
    }

    &.header--open {
        background: rgba(255,255,255,0.95);
        max-height: 35rem;

        .header__nav-container {
            opacity: 1;
        }
    }

    > .container {
        padding: 0 2rem;
    }

    &__inner-container {
        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $screen-lg;
            margin: 0 auto;
            height: 100%;
        }
    }

    &__logo-toggle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 17rem;

        @media (min-width: $screen-lg) {
            width: 18rem;
        }
    }

    &__toggle {
        width: $header-height-mobile;
        height: $header-height-mobile;
        margin-right: -1.3rem;
        position: relative;

        @media (min-width: $screen-md) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 50%;
            background: lighten(black, 50%);
            opacity: 1;
            left: 26%;
            transform: rotate(0deg);
            transition: 0.20s ease-out;

            &:nth-child(1) {
                top: 18px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 26px;
            }

            &:nth-child(4) {
                top: 34px;
            }
        }

        &.header__toggle--open {
            span {
                &:nth-child(1) {
                    top: 26px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 26px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }

    &__nav-container {
        opacity: 0;
        transition: 0.20s ease-out;
        margin: 0 -2rem;

        @media (min-width: $screen-md) {
            opacity: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
    }

    &__nav {
        margin: 1rem 0;

        @media (min-width: $screen-md) {
            margin: 0 4rem 0 0;
        }

        @media (min-width: $screen-lg) {
            margin-right: 9rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        li {
            margin: 0;
            padding: 0;

            &.current-menu-item a {
                color: lighten(black, 25%);
            }
        }

        a {
            padding: 1.5rem 1rem;
            width: 16rem;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: lighten(black, 45%);

            @media (min-width: $screen-us) {
                width: 18rem;
            }

            @media (min-width: $screen-sm) {
                width: auto;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @media (min-width: $screen-md) {
                font-size: 1.4rem;
                padding-left: 1.0rem;
                padding-right: 1.0rem;
            }

            @media (min-width: $screen-lg) {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
    }

    &__numbers {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $screen-md) {
            display: block;
            margin: 0;
        }

        a {
            font-size: 1.5rem;
            padding: 1.5rem;

            @media (min-width: $screen-us) {
                font-size: 1.6rem;
            }

            @media (min-width: $screen-md) {
                display: block;
                padding: 0.1rem 0;
                font-size: 1.4rem;
            }
        }
    }

    &__spacer {
        height: $header-height-mobile;

        @media (min-width: $screen-md) {
            height: $header-height;
        }
    }
}
