.container {
    max-width: $screen-lg;
    margin: 0 auto;
    padding: 0 3rem;

    @media (min-width: $screen-lg + 40) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page-header {
    &__cover {
        background-size: cover;
        background-position: center;
        height: 40rem;
        position: relative;

        @media (min-width: $screen-md) {
            height: 50rem;
        }

        @media (min-width: $screen-lg) {
            height: 65rem;
        }
    }

    &__cover-filter {
        background: rgba(0,0,0,0.3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tagline {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba($color-primary-darker, 0.9);
        padding: 2rem 1.5rem;
        text-align: center;
        color: darken(white, 8%);
        text-transform: uppercase;
    }

    &__banner {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba($color-primary-darker, 0.9);
        padding: 1rem 1.5rem;
        color: darken(white, 8%);

        &__heading {
            font-size: 1.5rem;
            margin-right: 2rem;
            text-transform: uppercase;
        }
        
        &__links {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: -0.5rem;

            a {
                margin: 0.5rem;
            }
        }
    }
}

.page-content {
    padding: 6rem 0;

    @media (min-width: $screen-md) {
        padding: 8rem 0;
    }

    &--grey-bg {
        background: $color-section-bg-grey;
    }

    &--light-grey-bg {
        background: lighten($color-section-bg-grey, 3%);
    }

    &--grid-with-filter {
        padding-top: 4rem;
        background: $color-section-bg-grey;

        @media (min-width: $screen-md) {
            padding-top: 6rem;
        }
    }
}

.page-nav {
    display: none;
    background: rgba($color-primary-darker, 0.90);
    height: $page-nav-height;

    @media (min-width: $screen-sm) {
        display: block;
    }

    &--fixed {
        position: fixed;
        z-index: 1000;
        top: $header-height-mobile;
        width: 100%;

        @media (min-width: $screen-md) {
            top: $header-height;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }

    &__item {
        color: darken(white, 5%);
        height: 100%;
        padding: 0 2.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        transition: 0.1s ease-out;
        flex: 1;
        text-align: center;
        border-right: 1px solid darken($color-primary-darker, 3%);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgba(darken($color-primary-darker, 0%), 0.9);
        }

        &:last-child {
            border: none;
        }

        &--active {
            background: rgba(darken($color-primary-darker, 5%), 0.9);
            color: darken(white, 2%);

            &:hover {
                background: rgba(darken($color-primary-darker, 5%), 0.9);
            }
        }

        i {
            opacity: 0.95;
            font-size: 2.0rem;
            margin-right: 0.8rem;
        }
    }

    &__spacer {
        display: none;
        height: $page-nav-height;
    }
}

.section {
    margin-bottom: 6rem;

    @media (min-width: $screen-md) {
        margin-bottom: 8rem;
    }

    @media (min-width: $screen-lg) {
        margin-bottom: 9rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--copy_image_align_left, &--copy_image_align_right {
        @media (min-width: $screen-md) {
            display: flex;
        }
    }

    &--copy_image_align_right {
        @media (min-width: $screen-md) {
            .section__image {
                order: -1;
                margin: 0 6% 0 0;
            }
        }
    }

    &--copy_centered {
        text-align: center;

        p {
            max-width: 60rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text {
        @media (min-width: $screen-md) {
            padding: 0.5rem 0;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 1.8rem;
        display: inline-block;
        margin: 0;

        &--centered {
            text-align: center;

            .section__heading__border {
                margin-left: -7%;
                width: 115%;
            }
        }

        &__border {
            border-bottom: 2px solid lighten($color-base, 25%);
            margin: 2.5rem 0 3.5rem 0;
            width: 110%;
        }
    }

    &__copy {
        p:last-child {
            margin-bottom: 0;
        }

        p.larger {
            font-size: 105%;
            margin-bottom: 3rem;
        }
    }

    &__link {
        margin-top: 3rem;
    }

    &__image {
        background-size: cover;
        background-position: center;
        height: 30rem;
        margin-top: 4rem;

        @media (min-width: $screen-sm) {
            height: 40rem;
            margin-top: 5rem;
        }

        @media (min-width: $screen-md) {
            width: 47%;
            margin: 0 0 0 6%;
            flex: 1 0 auto;
            height: auto;
        }
    }

    &__filter {
        justify-content: center;
        border-bottom: 1px solid darken(white, 12%);
        margin-bottom: 4rem;
        
        @media (max-width: $screen-us) {
            border: none;
        }

        .ui-button, .select2 .select2-selection {
            @media (max-width: $screen-us) {
                margin: 0.5rem;
                border-radius: $ui-border-radius !important;    
                border: none !important;
            }
        }

        .ui-button:first-of-type, .select2:first-of-type .select2-selection {
            border-bottom-left-radius: 0;
        }

        .ui-button:last-of-type, .select2:last-of-type .select2-selection {
            border-bottom-right-radius: 0;
        }
    }
}

.no-results {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 5rem;
        color: darken(white, 15%);
        margin-right: 2rem;
    }

    span {
        font-size: 2rem;
        text-transform: uppercase;
        color: darken(white, 20%);
    }
}
